*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
test*

*.pt
*.png
*.mp4
*__pycache__*
*.pth
*.body
*.so
*.o
*.mp4
*.safetensors
*.bin
*.pkl

amlt/
finetune/cogvideox-lora-single-node_test_new_deepspeed
finetune/finetune_4k_filtered_samples
finetune/finetune_4k_filtered_samples_CLIP_orig_197dim_wolora

wandb/
annotation/

*.parquet
output/
kosmosg_checkpoints/
cache/

finetune/finetun_4k_filtered_samples_vanilla_state_2b/

*.pdf
result_check/
result_check_200k_512x512_embedding/

metadata_update_refined_with_prefix/
