*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
test*
.amltconfig

*.pt
*.mp4
*__pycache__*
*.pth
*.body
*.so
*.o
*.mp4
*.safetensors
*.bin
*.pkl

amlt/
finetune/cogvideox-lora-single-node_test_new_deepspeed
finetune/finetune_4k_filtered_samples
finetune/finetune_4k_filtered_samples_CLIP_orig_197dim_wolora

wandb/
annotation/

*.parquet
output/
output_720/
kosmosg_checkpoints/
cache/

finetune/finetun_4k_filtered_samples_vanilla_state_2b/

*.pdf
result_check/
result_check_200k_512x512_embedding/

metadata_update_refined_with_prefix/

omini200k_720p/
omini200k_720p_full/

*.npy
right_latents_fixed_updated_rgb/
left_latents_fixed_updated_rgb/
vae_latents_sub200k_rgb_p1/
vae_latents_sub200k_rgb_p2/

output_720_1024/
Subjects200K_collection3/

result_check_200k_with_prefix_static_video_512x512_embedding/
right_latents_fixed_updated_rgb_13/
omini200k/
omini200k_720p_new_1024_renamed



temp_omini/

Pexels_suubset*
Pexels_evaluation_small*
Pexels_evaluation*

Pexels_subset_100K_fps8_flow-25-50_sample500/
Pexels_subset_100K_fps8_flow-25-50_sample100/
Pexels_subset_10K_fps8_flow-25-50_sample100/
Pexels_evaluation_small_100K_200_0225_original/

customconcept101/
benchmark_dataset/

.venv/
.vscode/
.github/
test_output/

./video_edit.py