*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*

*.pt
*.png
*.mp4
*__pycache__*
*.pth
*.body
*.so
*.o
*.mp4
*.safetensors
*.bin
*.pkl

amlt/
finetune/cogvideox-lora-single-node_test_new_deepspeed
finetune/finetune_4k_filtered_samples
finetune/finetune_4k_filtered_samples_CLIP_orig_197dim_wolora