torchaudio==2.4.1+cu124
pydantic_core==2.23.3
attrs==24.2.0
async-timeout==4.0.3
sympy==1.13.2
six==1.16.0
humanfriendly==10.0
Jinja2==3.1.4
cryptography==43.0.1
pip==24.2
wheel==0.41.2
protobuf==3.20.3
mpi4py==3.1.4
idna==3.10
charset-normalizer==3.3.2
pytorch-lightning==1.9.5
opencensus==0.11.4
certifi==2024.8.30
aiohappyeyeballs==2.4.0
coverage==7.2.7
triton==3.0.0
h5py==3.11.0
hjson==3.1.0
scipy==1.10.1
texttable==1.7.0
opencensus-ext-logging==0.1.1
tqdm==4.66.5
msccl==2.3.0
nest-asyncio==1.6.0
proto-plus==1.24.0
ninja==1.11.1
pydantic==2.9.1
opencensus-ext-azure==1.1.13
z3-solver==4.13.0.0
tabulate==0.9.0
py-cpuinfo==9.0.0
flatbuffers==24.3.25
torch-ort==1.18.0
annotated-types==0.7.0
multidict==6.1.0
pyasn1==0.6.1
torchdata==0.7.1
pytest==7.4.3
mpmath==1.3.0
mkl==2022.2.1
onnx==1.16.2
torchsnapshot==0.1.0
opencensus-context==0.1.3
fairscale==0.4.13
argcomplete==3.5.0
torch-nebula==0.16.13
aiohttp==3.10.5
apex==0.1
intel-openmp==2022.2.1
lxml==5.3.0
frozenlist==1.4.1
torchvision==0.19.1+cu124
PyYAML==6.0.2
google-api-core==2.19.2
aiosignal==1.3.1
pycparser==2.22
toml==0.10.2
requests==2.32.3
google-auth==2.34.0
pyasn1_modules==0.4.1
exceptiongroup==1.2.2
setuptools==72.1.0
MarkupSafe==2.1.5
onnxruntime-training==1.18.0
packaging==24.1
torchmetrics==1.2.0
fsspec==2024.9.0
msal==1.31.0
Cerberus==1.3.5
nebulaml==0.16.13
azure-core==1.31.0
tomli==2.0.1
mkl-include==2022.2.1
yarl==1.11.1
rsa==4.9
msal-extensions==1.2.0
pluggy==1.5.0
zipp==3.20.2
googleapis-common-protos==1.65.0
PyJWT==2.9.0
nvidia-ml-py==12.560.30
tbb==2021.13.1
cffi==1.17.1
typing_extensions==4.12.2
lightning-utilities==0.11.7
deepspeed==0.15.1
filelock==3.16.0
portalocker==2.10.1
importlib_metadata==8.5.0
urllib3==2.2.3
psutil==6.0.0
torch==2.4.1
iniconfig==2.0.0
tutel==0.3
igraph==0.11.6
pytest-mpi==0.6
networkx==3.3
uvicorn==0.32.0
azure-ai-ml==1.21.0
azure-storage-file-share==12.19.0
jsonschema==4.23.0
smmap==5.0.1
platformdirs==4.3.6
referencing==0.35.1
Flask==2.3.3
azure-keyvault==4.2.0
Mako==1.3.6
click==8.1.7
cachetools==4.2.4
python-dateutil==2.9.0.post0
SwissArmyTransformer==0.4.12
oauthlib==3.2.2
datasets==3.0.2
sshpubkeys==3.3.1
starlette==0.41.2
regex==2024.9.11
multiprocess==0.70.16
amlt==10.7.6
azure-data-tables==12.4.0
blinker==1.8.2
imageio==2.36.0
h11==0.14.0
tomlkit==0.12.0
pytz==2024.2
aiofiles==23.2.1
Flask-FontAwesome==0.1.5
typer==0.12.5
GitPython==3.1.43
prompt_toolkit==3.0.48
passpy==1.0.2
Pillow==9.5.0
jmespath==1.0.1
rich==13.9.3
humanize==4.11.0
bitarray==2.9.3
Flask-Cors==5.0.0
rich-click==1.8.3
markdown-it-py==3.0.0
tzdata==2024.2
braceexpand==0.1.7
dill==0.3.8
beautifulsoup4==4.12.3
azure-containerregistry==1.0.0
jsonschema-specifications==2024.10.1
huggingface-hub==0.26.2
pathspec==0.12.1
pydub==0.25.1
jaraco.functools==4.1.0
decord==0.6.0
sentry-sdk==2.17.0
safetensors==0.4.5
mdurl==0.1.2
openai==1.53.0
wandb==0.18.5
colorama==0.4.6
backports.tarfile==1.2.0
safehttpx==0.1.1
gradio_client==1.4.2
azure-keyvault-certificates==4.8.0
itsdangerous==2.2.0
click-plugins==1.1.1
websockets==12.0
diffusers==0.32.0.dev0
botocore==1.35.52
orjson==3.10.10
pyperclip==1.9.0
azure-keyvault-secrets==4.8.0
azure-mgmt-core==1.4.0
httplib2==0.22.0
Flask-Executor==1.0.0
scikit-video==1.1.11
moviepy==1.0.3
shellingham==1.5.4
azureml-k8s-mt==0.0.1
azure-storage-blob==12.23.1
bitstring==4.2.3
pyarrow==18.0.0
ffmpy==0.4.0
wadllib==2.0.0
httpcore==1.0.6
einops==0.8.0
pydash==8.0.3
decorator==4.4.2
sentencepiece==0.2.0
peft==0.13.2
jaraco.classes==3.4.0
xxhash==3.5.0
asteval==1.0.5
ecdsa==0.19.0
boto3==1.35.52
azure-mgmt-resource==23.1.1
strictyaml==1.7.3
Pygments==2.18.0
azure-mgmt-containerregistry==10.3.0
sniffio==1.3.1
distro==1.9.0
accelerate==1.0.1
azure-common==1.1.28
more-itertools==10.5.0
SecretStorage==3.3.3
tensorboardX==2.6.2.2
petname==2.7.post1
httpx==0.27.2
s3transfer==0.10.3
msrest==0.7.1
marshmallow==3.15.0
rpds-py==0.20.1
wrapt==1.16.0
webdataset==0.2.100
imageio-ffmpeg==0.5.1
tokenizers==0.20.1
proglog==0.1.10
ruff==0.7.1
xdg==6.0.0
lazr.uri==1.0.3
isodate==0.7.2
python-gnupg==0.5.3
azure-storage-file-datalake==12.17.0
pandas==2.2.3
keyring==25.5.0
azure-keyvault-keys==4.9.0
fastapi==0.115.4
anyio==4.6.2.post1
lazr.restfulclient==0.14.2
python-multipart==0.0.12
wcwidth==0.2.13
jeepney==0.8.0
soupsieve==2.6
jiter==0.6.1
semantic-version==2.10.0
numpy==1.26.0
cpm-kernels==1.0.11
transformers==4.46.1
gradio==5.4.0
requests-oauthlib==2.0.0
docker-pycreds==0.4.0
pyparsing==3.2.0
Werkzeug==3.1.1
setproctitle==1.3.3
gitdb==4.0.11
jaraco.context==6.0.1
azure-mgmt-storage==21.2.1
azure-identity==1.19.0
click-option-group==0.5.6
diffusers==0.32.0.dev0
ort_moe==0.2.0.dev202409171003
ordered-set==4.1.0
wheel==0.43.0
backports.tarfile==1.2.0
platformdirs==4.2.2
autocommand==2.2.2
inflect==7.3.1
more-itertools==10.3.0
importlib_metadata==8.0.0
jaraco.text==3.12.1
jaraco.context==5.3.0
packaging==24.1
tomli==2.0.1
jaraco.functools==4.0.1
typeguard==4.3.0
typing_extensions==4.12.2
importlib_resources==6.4.0
zipp==3.19.2
